h1.discover-h1 {
  margin: var(--margin-default);
}

.genre-filters {
  margin: var(--margin-default) auto;
  padding: 1.75rem 0;
  width: 80%;
  max-width: 37.5rem;
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  flex-wrap: wrap;
  border: var(--lineweight-border) solid var(--color-border);
  background-color: var(--color-containers-discover);
}

.genre-button {
  padding: var(--padding-default-vertical) var(--padding-default-horizontal);
  font-size: var(--size-text-button);
  color: var(--color-text-button);
  background-color: var(--color-background-button);
  border-color: rgba(255, 0, 0, 0);
  border-radius: var(--lineweight-button-border);
}

.genre-active {
  padding: var(--padding-default-vertical) var(--padding-default-horizontal);
  font-size: var(--size-text-button);
  background-color: #31C3F5;
  border-color: rgba(255, 255, 255, 0.414);
  border-radius: var(--lineweight-button-border);
}

.genre-button:active,
.genre-button:hover {
  background-color: #31C3F5;
  color: black;
}

.filters-songs {
  background-color: var(--color-background-section);
}

.song-list {
  margin: var(--margin-default) auto;
  width: 80%;
  max-width: 37.5rem;
  border: var(--lineweight-border) solid var(--color-border);
  background-color: var(--color-containers-discover);
}

.song-item {
  display: block;
  text-decoration: none;
  padding: 1rem;
  font-size: 2rem;
  color: inherit;
}

.song-item:hover {
  background-color: rgb(33, 33, 33);
}

.song-row {
  display: flex;
  align-items: center;
}

#view-buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.view-button {
  padding: var(--padding-default-vertical) var(--padding-default-horizontal);
  font-size: var(--size-text-button);
}

/* For desktop display */
@media (min-width: 750px) {
  h1.discover-h1 {
    margin-left: 3rem;
    text-align: start;
  }

  .filters-songs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
  }
}
