h1.h1-song-details {
  text-align: center;
  margin: var(--margin-default);
}

#back-button {
  text-decoration: none;
  font-size: 2rem;
  color: inherit;
}

.song-info-container {
  margin: var(--margin-default);
  padding: 2rem;
  background-color: var(--color-background-content);
  width: fit-content;
}

.song-info-container > p {
  margin: 1.5rem 0;
  font-size: 1.25rem;
}

.fav-btn {
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  color: rgba(209, 209, 209, 0.697);
}

.fav-btn:hover {
  color: rgba(245, 94, 94, 0.768);
}

.active-fav-btn {
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  color: red;
}

.active-fav-btn:hover {
  color: rgba(245, 94, 94, 0.768);;
}

.song-details-back {
  margin: 0 var(--margin-default);
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.822);
}

.song-details-back:hover {
  color: var(--color-back-button-hover);
}

/* For desktop display */
@media (min-width: 750px) {
  .song-info-container > p {
    font-size: 2rem;
  }
}